<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LocalLaptop.TechMateInventoryConnectionString"
            connectionString="Data Source=DESKTOP-RQ2JH70\SQLEXPRESS;Initial Catalog=&quot;TechMate Inventory&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
      <add name="LocalPC.TechMateInventoryConnectionString"
            connectionString="Data Source=PC-RAUL\SQLEXPRESS;Initial Catalog=&quot;TechMate Inventory&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
      <add name="AWS.TechMateInventoryConnectionString"
           connectionString="Data Source=techmate-inventory-db.ct2m0o6iwqo1.us-east-2.rds.amazonaws.com;Initial Catalog=TechMate Inventory;User ID=Admin1;Password=Admin123;"
           providerName="System.Data.SqlClient" />

      <add name="LocalPC.TechMateInventoryConnectionString"
            connectionString="Data Source=PC-RAUL\SQLEXPRESS;Initial Catalog=&quot;TechMate Inventory&quot;;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
      
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>